<mat-drawer-container #drawerContainer>
  <mat-drawer #sideNav *ngIf="sideNavShow" mode="side" opened>
    <mat-list>
      <mat-list-item routerLink="securities">Securities</mat-list-item>
      <mat-list-item routerLink="accounts">Accounts</mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="toolbar" role="banner">
      <button #menuButton mat-icon-button class="menu">
        <mat-icon #menuIcon>menu</mat-icon>
      </button>
      <span>Portfolio</span>
    </div>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>




