<mat-drawer-container #drawerContainer>
  <mat-drawer #sideNav *ngIf="sideNavShow" mode="side" opened>
    Drawer content

  </mat-drawer>

  <mat-drawer-content>
    <div class="toolbar" role="banner">
      <button #menuButton mat-icon-button class="menu">
        <mat-icon #menuIcon>menu</mat-icon>
      </button>
      <span>Portfolio</span>
    </div>

    <div class="content" role="main">
      <app-table [data]="securities"
                 [columnsDisplay]="['name', 'currencyCode','tickerSymbol', 'isin', 'wkn']"
                 (selectedRow)="selectRow($event)"></app-table>

      <div>
        <canvas baseChart width="800" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [chartType]="lineChartType"
                [legend]="lineChartLegend"
        ></canvas>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>




